<div class="" data-aos="fade-up" data-aos-once="true" >
    
      <div class=" my-auto"> 

        <div class="card  card-block d-flex" style="width: 50rem; height: 20rem;">
          
          <div class="home-text">
            <h1>Ruth Ndunge</h1>
            <h3>
            Software Engineer
            </h3>
            <div class=" social-icons">
              <div class="row ">
                <div class="col-4" (click)="onClick(myLinkedin)"><i class="fab fa-linkedin cursor align-end" style="cursor: pointer;"></i></div>
                <div class="col-4" (click)="onClick(myFacebook)"><i class="fab fa-facebook cursor" style="cursor: pointer;"></i></div>
                <div class="col-4" (click)="onClick(myGithub)"><i class="fab fa-github cursor" style="cursor: pointer;"></i></div>
    
              </div>
            </div>
          </div>
          <!-- <div class="align-items-end card-buttons">
            <div>
            <div class="face-button mx-3" (click)="downloadPdf()">
              <div class="face-primary">
                <span class="icon fa fa-download"></span>
                Resume
              </div>
              
            </div>
            </div>
          </div> -->
      </div>
    </div>
  </div>