// section{
//     display: block;
//     padding:5%
// }



// p{
//     font-size: 14px;
//     font-family: 'Open Sans', sans-serif;
//     -webkit-font-smoothing: antialiased;
//     color:white;
// }

// .tutor::after{
//    content: ' BETA';
//    font-size: 8px;
//    vertical-align: top;
//    color:red;
// }

// .inner-card:hover{
//     background: #343148FF;
//     color:white;
//     transition: all 0.3s ease-in-out;
// }

// .main-title:after{
//     content: "";
//     background: white;
//     border-radius: 25px;
//     display: block;
//     height: 4px;
//     margin-top: 10px;
//     width: 30px;
// }
////////////////////////////////
.card{
    -webkit-font-smoothing: antialiased;
    border-radius: 20px 20px 20px 20px;
    border-color: transparent;
}

.image{
    width: 160px;
    height: 160px;
    border: 4px solid #343148FF;
}

section{
    display: block;
    padding:5%
}

strong{
    color:black;
}

p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    color:#777777;
}

.progress-bar{
    background-color:#343148FF;
    color:#343148FF;
}

.card-title:after{
    content: "";
    background: #343148FF;
    border-radius: 25px;
    display: block;
    height: 4px;
    margin-top: 10px;
    width: 30px;
}
///////
