<!-- <div class="" data-aos="fade-up">
    <div class="my-auto">
      <div class="card shadow " style="width: 50rem; height: 25rem;">
        <section>
          <div class="card-body">
            <div class="row">
              <h3 class="card-title main-title">Services</h3>
            </div>
            <div class="row mt-5">
              <div class="col card inner-card border mx-3">
                <div class="card-body">
                  <div class="text-center"><i class="fa fa-laptop-code fa-lg"></i></div>
                  <h4 class="card-title text-center mt-3">Development</h4>
                  <p class="card-text text-center">Build Responsive Web Application WIth Latest Tech</p>
                </div>
              </div>
              <div class="col card inner-card border mx-3">
                  <div class="card-body">
                      <div class="text-center"><i class="fa fa-cog fa-lg"></i></div>
                      <h4 class="card-title text-center mt-3">Testing</h4>
                      <p class="card-text text-center">Perform DOM & End-to-end Tests for code quality assurance</p>
                    </div>
              </div>
              <div class="col card inner-card border mx-3">
                  <div class="card-body">
                      <div class="text-center"><i class="fa fa-laptop-code fa-lg"></i></div>
                      <h4 class="card-title text-center mt-3 tutor">Angular Tutoring</h4>
                      <p class="card-text text-center">Private one-to-one online lesson and currenly working on courses</p>
                    </div>
              </div>
            </div>
          </div>
          <div class="text-center">
          </div>
        </section>
      </div>
    </div>
  </div> -->

   <!--Skills -->
   <div class="mt-5" data-aos="fade-up">
    <div class="my-auto">
      <div class="card shadow " style="width: 50rem; height: auto;">
        <section>
          <div class="card-body">
            <div class="row">
              <h3 class="card-title">Skills</h3>
            </div>
            <div class="row my-5">
              <div class="col">
                <h4>Javascript</h4>
                <div class="progress" style="height:0.7rem;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"><strong></strong></div>
                </div>
              </div>
              <div class="col">
                <h4>Angular & TypeScript</h4>
                <div class="progress" style="height:0.7rem;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"><strong>90%</strong></div>
                </div>
              </div>
            </div>
            <div class="row my-5">
              <div class="col">
                <h4>C</h4>
                <div class="progress" style="height:0.7rem;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%"><strong>70%</strong></div>
                </div>
              </div>
              <div class="col">
                <h4>NodeJs</h4>
                <div class="progress" style="height:0.7rem;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><strong>60%</strong></div>
                </div>
              </div>
            </div>
            <div id="collapseBasic" [isAnimated]="true" [collapse]="isCollapsed">
              <div class="row">
                <div class="col">
                  <h4>Bootstrap, NgZorro, Material</h4>
                  <div class="progress" style="height:0.7rem;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 95%"><strong>95%</strong>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <h4>Git</h4>
                  <div class="progress" style="height:0.7rem;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 55%"><strong>50%</strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col">
                  <h4>Git</h4>
                  <div class="progress" style="height:0.7rem;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"><strong>75%</strong>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <h4>Azure Devops</h4>
                  <div class="progress" style="height:0.7rem;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 55%"><strong>55%</strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row my-5">
                <div class="col">
                  <h4>mySQL</h4>
                  <div class="progress" style="height:0.7rem;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><strong>60%</strong>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <h4>Testing (DOM & E2E)</h4>
                  <div class="progress" style="height:0.7rem;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><strong>80%</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn" (click)="toggleShow()" [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseBasic">{{toggleMessage}}
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>